* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2e2e2;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.fb-logo {
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
}

.fb-logo img {
    margin-left: 20px;
    height: 120px;
}

.search {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search label {
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: #e2e2e2;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 50px;
}

.search input {
    background-color: transparent;
    border: none;
    width: 90%;
    margin-left: 10px;
    height: 90%;
}

.search input:focus {
    outline: none;
}

.side-menu {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
}

.side-menu div {
    margin-right: 10px;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 18px;
    border-radius: 50%;
}

.headline {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 5px gray;
    margin-bottom: 20px;
}

.timeline {
    width: 100%;
    height: 100vh;
    display: flex;
}

.leftside {
    width: 30%;
    height: 100vh;
    padding-left: 20px;
    /* background-color: rgb(195, 198, 198); */
    position: relative;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    padding-bottom: 5px;
    border-bottom: 1px solid #a9a9a9;
    height: 80px;
}
.left-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    border-bottom: 1px solid #a9a9a9;
    height: 200px;
}
.left-lower-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    border-bottom: 1px solid #a9a9a9;
    max-height: 600px;
    min-height: 400px;
    height: 100%;
}

.leftside p{
    font-weight: 200;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.left-menu-item {
    display: flex;
    align-items: center;
}

.left-menu-item i{
    margin-right: 10px;
    font-size: 18px;
}

.img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: beige;
}

.seeAll{
    padding: 6px 6px 6px;
}
.shortcuts{
    font-size: 9px;
    color: #6b6a6a;
    font-weight: bolder;
}

.centerside {
    width: 40%;
    height: 100vh;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    padding: 10px;
}
.postContainer{
    background-color: rgb(255, 255, 255);
    width:100%;
    height: 6rem;
    border-radius: 5px;
}
.pfp-input{
    display: flex;
    margin: 0 10px 0 10px;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}
.pf-img{
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: beige;
}
.postInput{
    margin-left: 10px;
    width: 100%;
}
.postInput input{
    padding: 10px;
    width: 98%;
    height: 38px;
    border-radius: 30px;
    border: none;
    background-color: #a9a9a9;
    color: #6b6a6a;
    font-weight: bold;
}
.icon{
    display: flex;
    height: 50%;
    justify-content: space-around;
    align-items: center;

}

.createPost{
    width: 35vw;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 99999;
}
.createPost .head{
    padding: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(74, 74, 74);

}
.head h4{
    width: 80%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.head button{
    color: #484848;
    background-color: #a9a9a9;
    width:35px;
    height: 35px;
    border: none;
    border-radius: 50%;
}
.post-pf-icon{
    padding: 0.6rem;
    display: flex;
    align-items: center;
}
.postArea{
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    height: 40%;
}
.postArea textarea{
    width: 100%;
    height: 100%;
    border: none;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.postArea textarea:focus{
    outline: none;
}
.post-btn{
    width: 100%;
    padding: 10px;
}
.post-btn button{
    width: 100%;
    padding: 5px;
    font-weight: bold;
    background-color: rgb(54, 54, 227);
    font-size: 18px;
    border-radius: 5px;
    border: none;
}
.uploadImage{
    padding: 10px;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    opacity: 50%;
}
.rightside {
    height: 100vh;
    width: 30%;
    /* background-color: chartreuse; */
}
