* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2e2e2;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.fb-logo {
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
}

.fb-logo img {
    margin-left: 20px;
    height: 120px;
}

.search {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search label {
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: #e2e2e2;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 50px;
}

.search input {
    background-color: transparent;
    border: none;
    width: 90%;
    margin-left: 10px;
    height: 90%;
}

.search input:focus {
    outline: none;
}

.side-menu {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
}

.side-menu div {
    margin-right: 10px;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 18px;
    border-radius: 50%;
}

.headline {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 5px gray;
    margin-bottom: 20px;
}

.timeline {
    width: 100%;
    height: 100vh;
    display: flex;
}

.leftside {
    width: 30%;
    height: 100vh;
    padding-left: 20px;
    background-color: rgb(195, 198, 198);
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    padding-bottom: 5px;
    border-bottom: 1px solid #a9a9a9;
    height: 80px;
}
.left-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    border-bottom: 1px solid #a9a9a9;
    height: 200px;
}

.leftside p{
    font-weight: 200;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.left-menu-item {
    display: flex;
    align-items: center;
}

.left-menu-item i{
    margin-right: 10px;
    font-size: 18px;
}

.pf-img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: beige;
}



.centerside {
    width: 40%;
    height: 100vh;
    background-color: blue;
}

.rightside {
    height: 100vh;
    width: 30%;
    background-color: chartreuse;
}
